<template>
  <div class="row">
    <!-- content -->
    <span class="col-12 text-weight-bold">[ Administrador ]</span>
    Bienvenido {{ nombre }} {{ apellidos }}.
  </div>
</template>

<script>
export default {
  // name: 'PageName',
  data () {
    return {
      rol: '',
      nombre: '',
      apellidos: '',
      email: ''
    }
  },
  mounted () {
    this.rol = JSON.parse(localStorage.rol_id)
    this.nombre = JSON.parse(localStorage.nombre)
    this.apellidos = JSON.parse(localStorage.apellidos)
    this.email = JSON.parse(localStorage.email)
  }
}
</script>

<style>
</style>
