<template>
  <q-page padding class="flex flex-center row content-center items-center">

    <component v-if="rol" :is="component" class="col-12 row content-start">
    </component>

    <div v-for="(card, index) in cards" :key="index" class="col-xs-12 col-lg-4 no-wrap row justify-center">
      <q-card class="col-auto shadow-10 q-pa-md q-ma-md relative-position" inline style="width: 300px;">
        <div class="absolute-top-right z-top">
          <q-btn v-if="rol === 2" icon="clear" color="red" round @click="deleteItem"></q-btn>
        </div>
        <q-card-media>
          <img :src="`https://lorempixel.com/250/250/${card.image}`" alt="Imágen" key="index">
        </q-card-media>
        <q-card-title>{{ card.title }}</q-card-title>
        <q-card-main class="text-truncate">{{ card.contenido }}</q-card-main>
        <q-card-actions align="center">
          <q-btn color="primary" label="Ver servicio" :to="{ name:'service', params: {id: card.id} }"></q-btn>
        </q-card-actions>
      </q-card>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
import userIndex from 'pages/userIndex'
import adminIndex from 'pages/adminIndex'
export default {
  name: 'PageIndex',
  data () {
    return {
      rol: null,
      cards: [
        { image: 'sports', title: 'Ver todos', contenido: 'En este apartado podrás ver el listado de asesores activos.', id: 'todos' },
        { image: 'nature', title: 'Crear Asesor', contenido: 'Herramienta para la creación de nuevos asesores.', id: 'crear' },
        { image: 'people', title: 'Consulta/Modifica', contenido: 'Consulta individualmente por asesor y edita sus datos.', id: 'consulta' }
      ]
    }
  },
  methods: {
    deleteItem () {
      this.$q.notify('Se ha enviado la solicitud de eliminación al área encargada.')
    }
  },
  computed: {
    component () {
      let send = null
      switch (this.rol) {
        case 1:
          send = 'userIndex'
          break
        case 2:
          send = 'adminIndex'
          break
        default:
          break
      }
      return send
    }
  },
  mounted () {
    this.rol = JSON.parse(localStorage.rol_id)
  },
  components: {
    userIndex,
    adminIndex
  }
}
</script>
