<template>
  <q-page padding class="row items-center justify-center">
    <!-- content -->
    <div class="col-5 q-pa-lg bg-grey-9 round-borders">

      <q-field icon="person" label="Usuario" class="q-mb-md">
        <div class="input_wrapper bg-white">
          <q-input v-model="login.email" clearable hide-underline class="q-px-md" @keyup.esc="login.email = ''" @keyup.enter="submit"></q-input>
        </div>
      </q-field>

      <q-field icon="vpn_key" label="Contraseña" class="">
        <div class="input_wrapper bg-white">
          <q-input v-model="login.password" type="password" clearable hide-underline class="q-px-md" @keyup.esc="login.password = ''" @keyup.enter="submit"></q-input>
        </div>
      </q-field>

      <q-btn class="full-width q-mt-lg" rounded color="primary" @click="submit">Iniciar</q-btn>

    </div>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
  data () {
    return {
      login: {
        email: 'leo@gmail.com',
        password: '12345'
      }
    }
  },
  methods: {
    submit () {
      let params = `email=${this.login.email}&clave=${this.login.password}`
      this.$axios
        .post('http://localhost:4000/web/validarUsuario', params)
        .then(response => {
          this.$q.notify({ message: `Bienvenido ${response.data[2]}`, type: 'positive' })
          this.$router.push({ name: 'index' })
          this.saveToLocalStorage(response.data)
        })
        .catch(err => {
          console.log(err)
          this.$q.notify({ message: err.response.data, type: 'negative' })
        })
    },
    saveToLocalStorage (data) {
      localStorage.email = JSON.stringify(data[0])
      localStorage.rol_id = JSON.stringify(parseInt(data[1]))
      localStorage.nombre = JSON.stringify(data[2])
      localStorage.apellidos = JSON.stringify(data[3])
    }
  }
}
</script>

<style scoped>
.input_wrapper {
  border-radius: 50em !important;
}
</style>
