<template>
  <q-page padding>
    <div class="q-display-1 uppercase text-weight-light">Lista de todos los servicios</div>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
}
</script>

<style>
</style>
