<template>
  <q-page padding>
    <!-- content -->
    <div class="q-display-1 uppercase text-weight-light q-ma-md">{{ serviceId }}</div>
    <component :is="renderComp">
    </component>
  </q-page>
</template>

<script>
import consulta from 'components/consulta'
import crear from 'components/crear'
import mostrar from 'components/mostrar'
export default {
  // name: 'PageName',
  data () {
    return {
      serviceId: this.$route.params.id,
      modPrueba: {
        Idasesor: '1',
        Nombre: 'Nombre',
        Apellidos: 'Apellidos',
        Direccion: 'Direccion',
        Telefono: 'Telefono',
        Titulo: 'Titulo',
        Estado: '0'
      },
      newGuy: {
        Idasesor: '3',
        Nombre: 'Prueba',
        Apellidos: 'Apellidos',
        Direccion: 'Direccion',
        Telefono: 'Telefono',
        Titulo: 'Titulo'
      }
    }
  },
  components: {
    consulta,
    crear,
    mostrar
  },
  computed: {
    renderComp () {
      let obj = 'consulta'
      switch (this.serviceId) {
        case 'crear':
          obj = 'crear'
          break
        case 'todos':
          obj = 'mostrar'
          break
      }
      return obj
    }
  },
  methods: {
    mostrar () {
      let operacion = 'listar'
      let params = `operacion=${operacion}`
      this.$axios
        .post('http://localhost:4000/web/manageAsesor', params)
        .then(response => {
          console.log(response)
        })
        .catch()
    },
    consultar () {
      let operacion = 'consultar'
      let id = 1
      let params = `operacion=${operacion}&id=${id}`
      this.$axios
        .post('http://localhost:4000/web/manageAsesor', params)
        .then(response => {
          console.log(response)
        })
        .catch()
    },
    modificar (newData) {
      let { Idasesor, Nombre, Apellidos, Direccion, Telefono, Titulo, Estado } = newData
      let edited = `Idasesor=${Idasesor}&Nombre=${Nombre}&Apellidos=${Apellidos}&Direccion=${Direccion}&Telefono=${Telefono}&Titulo=${Titulo}&Estado=${Estado}`
      let operacion = 'modificar'
      let params = `operacion=${operacion}&${edited}`
      this.$axios
        .post('http://localhost:4000/web/manageAsesor', params)
        .then(response => {
          console.log(response)
        })
        .catch()
    },
    crear (newData) {
      let { Idasesor, Nombre, Apellidos, Direccion, Telefono, Titulo } = newData
      let edited = `Idasesor=${Idasesor}&Nombre=${Nombre}&Apellidos=${Apellidos}&Direccion=${Direccion}&Telefono=${Telefono}&Titulo=${Titulo}`
      let operacion = 'crear'
      let params = `operacion=${operacion}&${edited}`
      this.$axios
        .post('http://localhost:4000/web/manageAsesor', params)
        .then(response => {
          console.log(response)
        })
        .catch()
    }
  },
  mounted () {
    console.log(this.serviceId)
  }
}
</script>

<style>
</style>
