<template>
  <div class="row">
    <div class="row col-12">
      <q-input v-model="id" placeholder="Id del usuario a buscar"></q-input>
      <q-btn @click="consultar" class="q-mx-md">Buscar</q-btn>
      <q-btn @click="limpiar" class="">Limpiar</q-btn>
    </div>

    <div class="row q-mt-md" v-if="Object.keys(personalData).length">
      <div class="col-12 row items-center" v-for="(item, key, index) of personalData" :key="index">
        <span class="q-px-md">{{key}}:</span><q-input v-model="personalData[key]"></q-input>
      </div>
      <q-btn color="positive" class="q-ma-md" @click="modificar(personalData)">Guardar</q-btn>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      id: null,
      personalData: {}
    }
  },
  methods: {
    limpiar () {
      this.personalData = {}
      this.id = null
    },
    consultar () {
      if (!this.id) {
        this.$q.notify('EL campo de id no puede estar vacío')
        return
      }
      let operacion = 'consultar'
      let id = this.id
      let params = `operacion=${operacion}&id=${id}`
      this.$axios
        .post('http://localhost:4000/web/manageAsesor', params)
        .then(response => {
          console.log(response)
          this.personalData = {
            Id: response.data[0],
            Nombre: response.data[1],
            Apellidos: response.data[2],
            Dirección: response.data[3],
            Teléfono: response.data[4],
            Título: response.data[5],
            Estado: response.data[6]
          }
        })
        .catch()
    },
    modificar (newData) {
      let { Id: Idasesor, Nombre, Apellidos, Dirección: Direccion, Teléfono: Telefono, Título: Titulo, Estado } = newData
      let edited = `Idasesor=${Idasesor}&Nombre=${Nombre}&Apellidos=${Apellidos}&Direccion=${Direccion}&Telefono=${Telefono}&Titulo=${Titulo}&Estado=${Estado}`
      let operacion = 'modificar'
      let params = `operacion=${operacion}&${edited}`
      this.$axios
        .post('http://localhost:4000/web/manageAsesor', params)
        .then(response => {
          console.log(response)
        })
        .catch()
    }
  }
}
</script>

<style>
</style>
