<template>
  <div>
    <div class="row q-mt-md" v-if="Object.keys(personalData).length">
      <div class="col-12 row items-center" v-for="(item, key, index) of personalData" :key="index">
        <span class="q-px-md">{{key}}:</span><q-input v-model="personalData[key]"></q-input>
      </div>
      <q-btn @click="crear(personalData)" color="positive" class="q-ma-md">crear</q-btn>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      personalData: {
        Id: '',
        Nombre: '',
        Apellidos: '',
        Dirección: '',
        Teléfono: '',
        Título: ''
      }
    }
  },
  methods: {
    crear (newData) {
      let { Id: Idasesor, Nombre, Apellidos, Dirección: Direccion, Teléfono: Telefono, Título: Titulo } = newData
      let edited = `Idasesor=${Idasesor}&Nombre=${Nombre}&Apellidos=${Apellidos}&Direccion=${Direccion}&Telefono=${Telefono}&Titulo=${Titulo}`
      let operacion = 'crear'
      let params = `operacion=${operacion}&${edited}`
      this.$axios
        .post('http://localhost:4000/web/manageAsesor', params)
        .then(response => {
          this.personalData = {}
          this.$q.notify({ message: response.data, type: 'positive' })
        })
        .catch(e => {
          this.$q.notify({ message: e.response.data, type: 'negative' })
        })
    }
  }
}
</script>

<style>
</style>
