<template>
  <div>
    <q-btn @click="mostrar" class="q-ma-md" color="positive">Actualizar</q-btn>
    <div class="row">
      <div class="row col-12 text-weight-bold q-title q-my-md">
        <div class="col-4">Id</div>
        <div class="col-4">Nombre</div>
        <div class="col-4">Apellidos</div>
      </div>
      <div class="row col-12 q-my-xd" v-for="(item, index) of list" :key="index">
        <div class="col-4">{{item.idasesor}}</div>
        <div class="col-4">{{item.nombre}}</div>
        <div class="col-4">{{item.apellidos}}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      list: []
    }
  },
  methods: {
    mostrar () {
      let operacion = 'listar'
      let params = `operacion=${operacion}`
      this.$axios
        .post('http://localhost:4000/web/manageAsesor', params)
        .then(response => {
          console.log(response)
          this.list = response.data
        })
        .catch()
    }
  },
  mounted () {
    this.mostrar()
  }
}
</script>

<style>
</style>
